<div class='cover'>
<h1><font color="white"><center>
  ようこそ
  <i class="fas fa-book"></i>
  <strong>BookersΩへ！</strong>
</h1></center>
<center>
<p>
  <strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や
</p>
<p>印象を共有し交換することができます。</p>

<p>ただし、他人への暴言、誹謗中傷などはご遠慮願います。</p>

<p>それでは、快適な本の世界をお楽しみください。</p>

<%= link_to 'start' ,books_path  %>

</center>


</div>
